Options +FollowSymlinks

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

RewriteRule ^index\.php$ - [L]

RewriteRule ^api/?(.*)$ /ajax.php$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-zA-Z&!]{1,6})$ url_redirect.php?url=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
